<ScrollView>
    <StackLayout marginTop="25" marginBottom="25" paddingLeft="20" paddingRight="20">
            <Label class="head" text ="Enter Shipping Address" horizontalAlignment="center" verticalAlignment="center" paddingBottom="10"></Label>
            <GridLayout columns="auto,auto" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" paddingBottom="10">
                <Label class="sub-head" text ="DoorNo:" row="0" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t1 [text]= "doorno" hint="doorno" keyboardType="phone" row="0" col="1" required horizontalAlignment="left" width="80%"></TextField>
                
                <Label class="sub-head" text ="StreetName:" row="1" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t2 [text]="streetname" hint="streetname" row="1" col="1" required horizontalAlignment="left" width="80%"></TextField>
                
                <Label class="sub-head" text ="Area:" row="2" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t3 [text]="area" hint="area" row="2" col="1" required horizontalAlignment="left" width="80%"></TextField>
                
                <Label class="sub-head" text ="City:" row="3" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t4 [text]="city" hint="city" row="3" col="1" required horizontalAlignment="left" width="80%"></TextField>
                
                <Label class="sub-head" text ="District:" row="4" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t5 [text]="district" hint="district" row="4" col="1" required horizontalAlignment="left" width="80%"></TextField>
                
                <Label class="sub-head" text ="State:" row="5" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t6 [text]="state" hint="state" row="5" col="1" required horizontalAlignment="left" width="80%"></TextField>
                
                <Label class="sub-head" text ="Pin:" row="6" col="0" horizontalAlignment="left" verticalAlignment="center"></Label>
                <TextField #t7 [text]="pin" hint="pin" keyboardType="phone" row="6" col="1" required horizontalAlignment="left" width="80%"></TextField>

            </GridLayout>
            <GridLayout columns="auto, auto" rows="auto">
                <Button class="default-primary-color" text="cancel" (tap)="close('null')" row="0" col="0" horizontalAlignment="left"></Button>
                <Button class="default-primary-color" text="ok" (tap)="ok(t1.text, t2.text, t3.text, t4.text, t5.text, t6.text, t7.text)" row="0" col="1" horizontalAlignment="right" marginLeft="20"></Button>
            </GridLayout>
        </StackLayout>
    </ScrollView>