label{
    padding-top: 4%;
}

#total{
    font-size: 18px;
    color: #fff;
}
.StackLayout{
    height: 100%;
    background-color: #fff;
}
.GridLayout{
    height: 1200px;
    /* width:"100%"; */
    /* background-color: green; */
}
Label{
 font-size: 18px;
}