<StackLayout>
    <CardView class="" elevation="20"> 
        <GridLayout rows="auto" columns="auto, *" paddingTop="10" paddingBottom="10" paddingLeft="10">
            <Image src="res://arrow_back" row="0"col="0" (tap)="goback()"></Image>
            <Label class="date" [text]="setfromdate + ' - ' + settodate" row="0" col="1" paddingLeft="30" horizontalAllignment="center"></Label>
        </GridLayout>
    </CardView>
    <CardView class="cardStyle" elevation="20" margin="10" row="0" [visibility]="bigvisible"> 
        <StackLayout padding="10">
            <GridLayout rows="auto" columns="auto, auto">
                <Label class="head" text="Total Order Count: " row="0" col="0" paddingLeft="20"></Label>
                <Label class="content" [text]="big_total_count" row="0" col="1" paddingLeft="20"></Label>
            </GridLayout>
            <GridLayout rows="auto" columns="auto, auto">
                <Label class="head" text="Total Order Amount" row="0" col="0" paddingLeft="20"></Label>
                <Label class="content" [text]="'Rs.'+big_total_amount" row="0" col="1" paddingLeft="20"></Label> 
            </GridLayout>
        </StackLayout> 
    </CardView>
    <GridLayout rows="*">
        <ListView row="0" [items]="reports" separatorColor="transparent" margin="0" [visibility]="detailvisible">
            <ng-template let-item="item" let-i="index">
                <CardView class="cardStyle" elevation="20" margin="10">
                    <StackLayout padding="10">
                        <GridLayout rows="auto" columns="auto, auto">
                            <Label class="head" text="Id: " row="0" col="0" paddingLeft="20" verticalAllignment="right"></Label>
                            <Label class="content" [text]="item.emp_id" row="0" col="1" paddingLeft="20"></Label> 
                        </GridLayout>
                        <GridLayout rows="auto" columns="auto, auto">
                            <Label class="head" text="Order Count: " row="0" col="0" paddingLeft="20"></Label>
                            <Label class="content" [text]="item.order_count" row="0" col="1" paddingLeft="20"></Label>
                        </GridLayout>
                        <GridLayout rows="auto" columns="auto, auto">
                            <Label class="head" text="Order Total: " row="0" col="0" paddingLeft="20"></Label>
                            <Label class="content" [text]="'Rs.'+item.order_total" row="0" col="1" paddingLeft="20"></Label> 
                        </GridLayout>                    
                    </StackLayout>
                </CardView>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>