<StackLayout>
    <ListView [items]="customers" separatorColor="transparent" margin="0">
        <ng-template let-item="item" let-i="index">
            <CardView class="cardStyle" elevation="20" margin="10" [nsRouterLink]="['/approvecustomerdetail', item.id]">
                <GridLayout rows="auto,auto" columns="auto,*" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                    <Image [src]="" col="0" rowSpan="2" width="24" height="24" verticalAlignment="center" marginRight="20"></Image>                    
                    <Label [text]="item.shopname" col="2" row="0" fontSize="17" color="#212121"></Label>
                    <Label [text]="item.contactname" col="2" row="1" fontSize="15" color="#757575"></Label>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
</StackLayout>