<StackLayout>
    <ScrollView>
        <StackLayout>
            <GridLayout rows="auto,auto" columns="auto,*"paddingLeft="10">
                <Label class="" text="From: " row="0" col="0" fontSize="18" verticalAlignment="center" horizontalAlignment="right"></Label>
                <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="fromdatefunc($event)" 
                    row="0" col="1" verticalAlignment="top" horizontalAlignment="right"></DatePicker>    
                <Label class="" text="To: " row="1" col="0" fontSize="18" verticalAlignment="center" horizontalAlignment="center"></Label>
                <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="todatefunc($event)" 
                    row="1" col="1" verticalAlignment="top" horizontalAlignment="right"></DatePicker>
            </GridLayout>
            <Button class="default-primary-color reportsubmit" text="Get Report" (tap)="submit()"></Button>    
        </StackLayout>
    </ScrollView>
</StackLayout>