.heading{
    font-size: 16;
    font-weight: bold;
    padding-top: 2%;
    color: #ffffff;
}

.content{
    font-size: 14;
    color: #ffffff;
}

#orderdetailsheading{
    font-size: 20;
    font-weight: bold;
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}
