
<StackLayout id="container">

    <Image id="logo" src="res://logo_login" width="300" height="158" horizontalAlignment="center"></Image>
    <ScrollView>
        <CardView class="cardStyle" elevation="40" radius="1" >
            <StackLayout marginTop="2%" paddingBottom="20">
                <TextField #username text={{this.storeusername}} id="tf1" class="logintxt" hint="Mobile.No" keyboardType="email"
                    autocorrect="false" autocapitalizationType="none" icon="~/Images/person.png" required></TextField>
                <Label class="validation" [visibility]="usernamevalid" text="username is required"></Label>
                <TextField #password text={{this.storepassword}} id="tf2" class="logintxt" hint="Mobile.No" secure="true" required></TextField>
                <Label class="validation" [visibility]="passwordvalid" text="password is required"></Label>
                <Label class="validation" [visibility]="incorrectmsg" [text]="servermsg"></Label>
                <GridLayout columns="auto, *, auto" rows="auto,auto" marginRight="5%" marginLeft="5%" paddingTop="20%" paddingBottom="10%">
                    <CheckBox #cb1 class="accent-color" row="0" col="0" text="Remember me" checked="true" horizontalAlignment="left"></CheckBox>
                    <label row="0" col="2" text="Forgot Password?" horizontalAlignment="right" verticalAlignment="center"></label>
                </GridLayout>
                <Button class="default-primary-color loginbutton" text="Sign in" (tap)="submit(username.text, password.text,$event)"></Button>
                <label  text="Version - 1.10" horizontalAlignment="center" verticalAlignment="center"></label> 
            </StackLayout>       
        </CardView>
    </ScrollView>
</StackLayout>
