<StackLayout>
        <Label [text]="productDetails.name" fontSize="24" horizontalAllignment="center"></Label>
        <Label [text]="productDetails.category" fontSize="20" color="#757575" horizontalAllignment="center"></Label>
        <Image src="~/Images/product.png" width="170" height="200" col="2" row="3" marginRight="10" (tap)="addtocart()" verticalAlignment="center"></Image>
        <GridLayout rows="auto, auto,auto,auto" columns="auto, *" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">                
            <Label text="Product Details" fontSize="16" row="0" col="0"></Label>
            <Label text="Description" fontSize="16" row="1" col="0"></Label>
            <Label [text]="description" fontSize="14" color="#757575" row="1" col="1"></Label>
            <Label text="Weight" fontSize="15" row="2" col="0"></Label>
            <Label [text]="productDetails.offer" fontSize="15" color="#757575" row="2" col="1"></Label>
            <Label text="Size" fontSize="15" row="3" col="0"></Label>            
            <Label [text]="productDetails.offer" fontSize="15" color="#757575" row="3" col="1"></Label>
        </GridLayout>
</StackLayout>