<ActionBar class="default-primary-color" title="Krishna Bhavan">
    <ActionItem icon= "~/Images/menu.png" ios.position="left" (tap)="openDrawer()" android:visibility="collapse"></ActionItem>
    <NavigationButton icon= "res://menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem icon= "res://search" ios.position="right" visibility="collapse"></ActionItem>
    <ActionItem icon= "res://cart" ios.position="right" (tap)="orderdetails()"></ActionItem>
</ActionBar>
<!--<action-bar [actionbartitle] = "title"></action-bar>
<page-router-outlet></page-router-outlet>-->


<RadSideDrawer tkExampleTitle tkToggleNavButton [showOverNavigation]="showOverNavigation" gesturesEnabled = {{gesture}}>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout bg1">
                <!--<Image src = "~/Images/krishna.png" width="100%" height="auto" verticalAlignment="center"></Image>
                <Label class="user head" text="Krishna Bhavan" verticalAlignment="center" horizontalAlignment="center"></Label>-->
        </StackLayout>
        <StackLayout class="sideStackLayout bg">
            <Label text="Offers" [nsRouterLink]="['/productoffers']" class="navdata top" (tap)="close()" [visibility]="offerlistvisible"></Label>
            <Label text="Account Details" [nsRouterLink]="['/accountdetails']" class="navdata top" (tap)="close()" [visibility]="offerlistvisible"></Label>
            <Label text="Products" [nsRouterLink]="['/productlist']" class="navdata top" (tap)="close()" [visibility]= "productlistvisible"></Label>
            <Label text="Customers" [nsRouterLink]="['/customerlist']" class="navdata" (tap)="close()" [visibility]= "customerlistvisible"></Label>
            <Label text="Reports" [nsRouterLink]="['/salesrepreport']" class="navdata" (tap)="close()" [visibility]="reportlistvisible"></Label>
            <Label text="Order History" [nsRouterLink]="['/managerorderlist']" class="navdata" (tap)="close()" [visibility]= "managerorderlist"></Label>
            <Label text="Order History" [nsRouterLink]="['/orderlist']" class="navdata" (tap)="close()" [visibility]= "orderlist"></Label>
            <Label text="Create Customer" [nsRouterLink]="['/createcustomer']" class="navdata" (tap)="close()" [visibility]= "customerlistvisible"></Label>
            <Label text="Approve Customer" [nsRouterLink]="['/approvecustomerlist']" class="navdata" (tap)="close()" [visibility]= "approvecus"></Label>
            <Label text="EXIT" class="navdata" (tap)="exitApp()"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>
