<GridLayout rows="auto,*,auto">    
    <GridLayout class="default-primary-color" row="0" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="auto, *" paddingRight="10" paddingLeft="40" paddingBottom="10">
        <Label class="heading" [text]="customer.shopname" row="0" col="0"></Label>
        <Label class="heading" text="Shipping Address" row="1" col="0"></Label>
        <Label class="content" [text]="customer.contactname" row="2" col="0"></Label>
        <Label class="content" [text]="address.door_no +', ' + address.area +', ' + address.street_name" row="3" col="0"></Label>
        <Label class="content" [text]="address.city +'-'+ address.pin" row="4" col="0"></Label>
        <Label class="content" [text]="address.city +', '+ address.state" row="5" col="0"></Label>
        <Label class="heading" text="Preferred Shipping Mode" row="6" col="0"></Label>
        <TextField #shipmode id="shippingmode" hint="Enter shipping mode" class="content" [text]="shippingmode" row="7" col="0"></TextField>
        <Image src="~/Images/edit-white.png" col="1" row="0" width="24" height="24" verticalAlignment="center" horizontalAlignment="right" (tap)="editshippingaddress()" autocorrect="false"></Image>
        <Label class="total" [text]="'Total Amount: Rs. ' + total_amount" col="0" row="8" [visibility]="ifcustomer"></Label>
    </GridLayout>
    <ListView row="1" [items]="allproducts" separatorColor="transparent" margin="0">
        <ng-template let-item="item" let-i="index">
            <CardView class="cardStyle" elevation="20" margin="10">
                <GridLayout rows="auto, auto" columns="auto, *, auto" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                    <Image src="~/Images/product_img.png" col="0" rowSpan="3" width="80" height="80" verticalAlignment="center"></Image>
                    <StackLayout col="1" rowSpan="3" paddingLeft="10">
                        <Label [text]="item.product_name" fontSize="16"></Label>                        
                        <GridLayout rows="auto" columns="auto, auto, auto, auto" paddingTop="10">
                            <Label text="Rack Qty:" fontSize="14" color="#212121" row="0" col="0"></Label>
                            <Label [text]="item.rack_quantity" fontSize="14" color="#757575" row="0" col="1" paddingLeft="10"></Label>
                            <Label text="Order Qty:" fontSize="14" color="#212121" row="0" col="2" paddingLeft="10"></Label>
                            <Label [text]="item.quantity" fontSize="14" color="#757575" row="0" col="3" paddingLeft="10"></Label>
                        </GridLayout>
                        <!-- <Label [text]="'Discount Qty:'+item.discount_product_quantity" fontSize="14" *ngIf="item.discount_product_quantity"></Label> -->
                        <!-- <Label [text]="'Discount Product:'+item.offer.discount_product_name" fontSize="14" *ngIf="item.offer.discount_product_name"></Label> -->
                        <GridLayout rows="auto" columns="auto, auto" paddingTop="10" [visibility]="ifcustomer">
                                <Label text="Amount: " fontSize="14" color="#212121" row="0" col="0"></Label>
                                <Label [text]="item.line_total" fontSize="14" color="#757575" row="0" col="1" paddingLeft="10"></Label>
                            </GridLayout>
                    </StackLayout>
                    <Image src="~/Images/edit.png" col="2" row="0" width="24" height="24" verticalAlignment="top" (tap)="editqty(item.product_id,i)"></Image>
                    <Image src="~/Images/delete.png" col="2" row="2" width="24" height="24" verticalAlignment="bottom" (tap)="removeorder(item.product_id,i)"></Image>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
    <CardView class="cardStyle" elevation="20" margin="10" row="2"> 
        <StackLayout>
            <Label class="notes" text="Notes" paddingLeft="10"></Label>
            <TextField #note  id="notes" hint="Enter notes" class="" marginLeft="10" marginRight="10"></TextField> 
        </StackLayout> 
    </CardView> 
        <FAB row="1" style="margin-right:50;" (tap)="gotoshop(note.text,shipmode.text)" icon="~/Images/tick.png" rippleColor="#f1f1f1" class="fab-button" horizontalAlignment= "right"; verticalAlignment= "bottom" *ngIf="disableFAB" ></FAB>
    </GridLayout>