<StackLayout>
    <GridLayout class="default-primary-color" rows="auto,auto,auto,auto,auto,auto" columns="*, auto" paddingRight="10" paddingLeft="25" paddingBottom="10" paddingTop="10">
        <Label class="heading" [text]="customer.shopname" col="0" row="0"></Label>
        <Label id="customername" class="content" [text]="customer.contactname" col="0" row="1"></Label>
        <Label class="content" [text]="address.door_no +', ' + address.area +', ' + address.street_name" col="0" row="2"></Label>
        <Label class="content" [text]="address.city +'-'+ address.pin" col="0" row="3"></Label>
        <Label class="content" [text]="address.city +', '+ address.state" col="0" row="4"></Label>            
        <Label class="content" [text]="customer.contactnumber" col="0" row="5"></Label> 
        <Image src="~/Images/call-white.png" col="1" row="4" width="24" height="24" verticalAlignment="top" horizontalAlignment="right"></Image>
    </GridLayout>
    <TabView selectedIndex="0">
            <StackLayout *tabItem="{title: 'Orders'}">
                <GridLayout rows="*">
                    <order-list [id]="customerid" row="0"></order-list>
                    <!--<StackLayout row="0">
                        <ListView [items]="orderDetails" separatorColor="transparent" margin="0" (tap)="orderdetail()">
                            <ng-template let-item="item">
                                <CardView class="cardStyle" elevation="20" margin="10">
                                    <GridLayout rows="auto, auto" columns="auto, *, auto" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                                        <Image [src]="item.img" col="0" rowSpan="2" width="24" height="24" verticalAlignment="center" marginRight="20"></Image>                    
                                        <Label [text]="item.id" fontSize="16" col="1" row="0"></Label>
                                        <Label [text]="item.shop" fontSize="14" color="#757575" col="1" row="1"></Label>                                         
                                        <Label [text]="item.date" col="2" row="0" fontSize="15" color="#757575"></Label>
                                    </GridLayout>
                                </CardView>
                            </ng-template>
                        </ListView>
                    </StackLayout>
                -->
                    <FAB row="0" (tap)="gotoshop()" icon="~/Images/add-white.png" rippleColor="#f1f1f1" class="fab-button" horizontalAlignment= "right"; verticalAlignment= "bottom" ></FAB>
                </GridLayout>
                </StackLayout>
            <StackLayout *tabItem="{title: 'Customer Info'}">
                 <!--   <customer-info></customer-info> -->                
                    <ScrollView>
                    <StackLayout paddingLeft="25" marginTop="20" paddingRight="10">
                        <GridLayout rows="auto,auto,auto,auto,auto" columns="*,auto" marginBottom="10">
                            <Label class="headingI" text="Billing Address" row="0" col="0"></Label>            
                            <Label class="contentI" [text]="customer.shopname" row="1" col="0"></Label>
                            <Label class="contentI" [text]="address.door_no +', ' + address.area +', ' + address.street_name" row="2" col="0"></Label>
                            <Label class="contentI" [text]="address.city +'-'+ address.pin" row="3" col="0"></Label>
                            <Label class="contentI" [text]="customer.contactnumber" row="4" col="0"></Label>
                            <Image row="3" col="1" src="~/Images/copy.png" width="24" height="24" verticalAllignment="top" horizontalAllingment="right"></Image>
                        </GridLayout>
                        <GridLayout rows="auto,auto,auto,auto,auto" columns="*,auto" marginBottom="10">
                            <Label class="headingI" text="Preferred Shipping Address" row="0" col="0"></Label>            
                            <Label class="contentI" [text]="customer.shopname" row="1" col="0"></Label>
                            <Label class="contentI" [text]="address.door_no +', ' + address.area +', ' + address.street_name" row="2" col="0"></Label>
                            <Label class="contentI" [text]="address.city +'-'+ address.pin" row="3" col="0"></Label>
                            <Label class="contentI" [text]="customer.contactnumber" row="4" col="0"></Label>
                            <Image row="3" col="1" src="~/Images/copy.png" width="24" height="24" verticalAllignment="top" horizontalAllingment="right"></Image>
                        </GridLayout>
                        <GridLayout rows="auto,auto" columns="auto,auto" marginBottom="10">
                            <Label row="0" col="0" class="headingI" text="GST Info" marginBottom="5"></Label>            
                            <Label row="1" col="0" class="contentI" text="GST No" color="#212121"></Label>
                            <Label class="contentI" [text]="customer.gstno" row="1" col="1"></Label>
                        </GridLayout>
                    </StackLayout>
                </ScrollView>
            
            </StackLayout>
        </TabView>
</StackLayout>