<TabView selectedIndex="0">
    
    <GridLayout rows="*" *tabItem="{title: 'Personal Details'}">
        <ScrollView>
            <StackLayout row="0" paddingLeft="10">
                <label text="Customer Name" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #name class="" autocorrect="false" autocapitalizationType="none"></TextField>

                <label text="Shop Name" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #shopname autocorrect="false" autocapitalizationType="none"></TextField>

                <label text="Primary Mobile Number" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #primarymobile class="" autocorrect="false" autocapitalizationType="none" keyboardType="phone"></TextField>

                <label text="Region" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #region class="" autocorrect="false" autocapitalizationType="none"></TextField>

                <label text="Contact Person" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #contactperson class="" autocorrect="false" autocapitalizationType="none"></TextField>

                <label text="Landline Number" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #landlineno class="" autocorrect="false" autocapitalizationType="none" keyboardType="phone"></TextField>

                <label text="Home Mobile Number" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #homemobileno class="" autocorrect="false" autocapitalizationType="none" keyboardType="phone"></TextField>

                <label text="Work Mobile Number" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #workmobileno class="" autocorrect="false" autocapitalizationType="none" keyboardType="phone"></TextField>

                <label text="Email" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #email class="" autocorrect="false" autocapitalizationType="none" keyboardType="email"></TextField>
                
                <label text="Gst Number" horizontalAlignment="left" verticalAlignment="center"></label>
                <TextField #gst class="" autocorrect="false" autocapitalizationType="none"></TextField>

            </StackLayout>
        </ScrollView>
        <FAB row="0" icon="~/Images/tick.png" *ngIf="disableCreateFAB" (tap)="createcustomer(name.text,shopname.text,primarymobile.text,
        region.text,contactperson.text,landlineno.text,homemobileno.text,workmobileno.text,email.text,gst.text)" 
        rippleColor="#f1f1f1" class="fab-button" horizontalAlignment= "right" verticalAlignment= "bottom" ></FAB>
    </GridLayout>
    
    <StackLayout *tabItem="{title: 'Contact Details'}">
            <TabView selectedIndex="0">
                    <StackLayout *tabItem="{title: 'Permanent Address'}">
                        <ScrollView>
                            <StackLayout paddingLeft="10">
                                <label text="Door Number" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField id="bdoorno" #bdoorno class="" autocorrect="false" autocapitalizationType="none"></TextField>

                                <label text="Street Name" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #bstreet class="" autocorrect="false" autocapitalizationType="none"></TextField>

                                <label text="Area" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #barea class="" autocorrect="false" autocapitalizationType="none"></TextField>

                                <label text="City" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #bcity class="" autocorrect="false" autocapitalizationType="none"></TextField>

                                <label text="District" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #bdistrict class="" autocorrect="false" autocapitalizationType="none"></TextField>

                                <label text="State" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #bstate class="" autocorrect="false" autocapitalizationType="none"></TextField>

                                <label text="Pin" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #bpin class="" autocorrect="false" autocapitalizationType="none" keyboardType="number"></TextField>

                            </StackLayout>
                        </ScrollView>
                    </StackLayout>
                        
                    <StackLayout *tabItem="{title: 'Shop Address'}">
                        <ScrollView>
                            <StackLayout paddingLeft="10">
                                <label text="Door Number" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #sdoorno class="" autocorrect="false" autocapitalizationType="none"></TextField>
        
                                <label text="Street Name" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #sstreet class="" autocorrect="false" autocapitalizationType="none"></TextField>
        
                                <label text="Area" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #sarea class="" autocorrect="false" autocapitalizationType="none"></TextField>
        
                                <label text="City" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #scity class="" autocorrect="false" autocapitalizationType="none"></TextField>
        
                                <label text="District" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #sdistrict class="" autocorrect="false" autocapitalizationType="none"></TextField>
        
                                <label text="State" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #sstate class="" autocorrect="false" autocapitalizationType="none"></TextField>
        
                                <label text="Pin" horizontalAlignment="left" verticalAlignment="center"></label>
                                <TextField #spin class="" autocorrect="false" autocapitalizationType="none" keyboardType="number" maxLength="6" required></TextField>
                            </StackLayout>
                        </ScrollView>
                    </StackLayout>
            </TabView>
    </StackLayout>
</TabView>
