<!--<ActionBar class="default-primary-color" title="{{actionbartitle}}">
    <ActionItem icon= "~/Images/menu.png" ios.position="left" (tap)="sidenav()" android:visibility="collapse"></ActionItem>
    <NavigationButton icon= "res://menu" (tap)="sidenav()"></NavigationButton>
    <ActionItem icon= "res://search" ios.position="right" ></ActionItem>
    <ActionItem icon= "res://cart" ios.position="right" (tap)="orderdetails()"></ActionItem>
    
</ActionBar>-->

<ActionBar class="default-primary-color" title="actionbartitle">
    <ActionItem icon= "~/Images/menu.png" ios.position="left" (tap)="openDrawer()" android:visibility="collapse"></ActionItem>
    <NavigationButton icon= "res://menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem icon= "res://search" ios.position="right" ></ActionItem>
    <ActionItem icon= "res://cart" ios.position="right" (tap)="orderdetails()"></ActionItem>    
</ActionBar>


<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
        </StackLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>

