<StackLayout >
    <SearchBar #search hint="Search customer" (textChange)="onTextChanged($event)" (clear)="onClear($event)" (submit)="onSubmit($event)" (loaded)="searchBarLoaded($event)" ></SearchBar>
       
<GridLayout rows="*,auto">
    <ListView [items]="customers" separatorColor="transparent" margin="0">
        <ng-template let-item="item" let-i="index">
                
                <CardView class="cardStyle" elevation="20" margin="10" [nsRouterLink]="['/customerdetail', item.id]">
                <!-- <Label [text]="item.id" fontSize="16"></Label> -->
                <GridLayout rows="auto, auto" columns="auto, *, auto" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                    <Image [src]="" col="0" rowSpan="3" width="80" height="80" margin="5" verticalAlignment="center"></Image>
                    <StackLayout col="1" rowSpan="3" verticalAlignment="center" paddingLeft="10">
                        <Label [text]="item.shopname" fontSize="16"></Label>
                        <!-- <Label [text]="item.contactname" fontSize="16"></Label> -->
                        <Label [text]="item.address.district" fontSize="16"></Label>
                        <Label [text]="item.salesrepname" fontSize="14" color="#757575" [visibility]="repnamevisible"></Label>
                        <Label [text]="item.contactnumber" fontSize="12" color="#757575"></Label>
                    </StackLayout>
                    <Image src="~/Images/call.png" width="24" height="24" col="2" row="0" marginRight="10" verticalAlignment="bottom"></Image>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
    <FAB row="1" style="margin-right:50;"  [nsRouterLink]="['/createcustomer']" icon="~/Images/add-white.png" rippleColor="#f1f1f1" class="fab-button" horizontalAlignment= "right" verticalAlignment= "bottom" ></FAB>
    
</GridLayout> 
</StackLayout>