<GridLayout rows ="auto, *">
    <DropDown #dd [items]="items" [(ngModel)]="selectedIndex" hint="Filter by Order Status"
        (selectedIndexChanged)="onchange($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        row="0">
    </DropDown>
    <ListView [items]="allorder" separatorColor="transparent" margin="0" row="1">
        <ng-template let-item="item" let-i="index">
            <CardView class="cardStyle" elevation="20" margin="10" >
                <GridLayout rows="auto,auto,auto,auto" columns="auto, *, auto" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                    <Image [src]="item.status" col="0" rowSpan="4" width="24" height="24" verticalAlignment="center" marginRight="20"></Image>
                    <Label [text]="item.order_id" (tap)="orderreview(item._id, item.status, item.order_id)" fontSize="16" col="1" row="1" colspan="2"></Label>
                    <Label [text]="item.customer.shopname" (tap)="orderreview(item._id, item.status, item.order_id)" fontSize="14" color="#757575" col="1" row="2" colspan="2"></Label>
                    <Label [text]="'Total Amount: Rs. ' + item.total_amount" col="1" row="3" colspan="2" fontSize="15" color="#757575"></Label>
                    <!-- <Image src="~/Images/greentick.jpg" [visibility] = "item.approve" (tap)="approveorder(item._id,i)" col="2" row="3" width="24" height="24" verticalAlignment="center" horizontalAlignment="right"></Image> -->
                    <Label [text]="item.order_date | date:'dd/MM/yyyy'" col="2" row="0" fontSize="15" color="#757575"></Label>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
</GridLayout>