<StackLayout>
    <ListView [items]="salerepdetails" separatorColor="transparent" margin="0">
        <ng-template let-item="item">
            <CardView class="cardStyle" elevation="20" margin="10" (tap)="salesrepdetail()">
                <GridLayout rows="auto, auto, auto" columns="auto, *, auto" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                    <Image [src]="item.img" col="0" rowSpan="3" width="70" height="70" margin="5" verticalAlignment="center" marginRight="15"></Image>
                    <Label [text]="item.name" fontSize="16" col="1" row="0"></Label>
                    <Label [text]="item.region" fontSize="14" color="#757575" col="1" row="1"></Label>
                    <Label [text]="item.phone" fontSize="14" color="#757575" col="1" row="2"></Label>
                    <Image src="~/Images/call.png" width="24" height="24" col="2" row="2" marginRight="10" verticalAlignment="center" horizontalAlignment="center"></Image>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
</StackLayout>