.heading{
    font-size: 16;
    font-weight: bold;
    margin-top: 2%;
    color: #fff;
}

.content{
    font-size: 14;
    color: #fff;
}

.total{
    font-size: 18;
    color: #fff;
    font-weight: bold;
}

.notes{
    font-weight: bold;
    font-size: 16;
}