.heading{
    font-size: 16;
    font-weight: bold;
    margin-top: 2%;
    color: #fff;
}

.content{
    font-size: 13;
    color: #fff;
}

#customername{
    font-style: italic;
    font-size: 15;
}