<StackLayout>
    <Label class="h3 p-15 text-center" text="Current Connection Type" textWrap="true"></Label>
    <GridLayout class="p-15" rows="*" columns="*">
        <Label class="h1 p-15 text-center font-weight-bold" text="{{connectionType}}" textWrap="true"></Label>
    </GridLayout>
</StackLayout>