<StackLayout marginTop="25" marginBottom="25" paddingLeft="70" paddingRight="70">
    <Label class="head" text ="Enter Quantity" horizontalAlignment="center" verticalAlignment="center" paddingBottom="10"></Label>
    <GridLayout columns="auto, auto" rows="auto,auto" paddingBottom="10">
        <Label class="sub-head" text ="Rack" row="0" col="0" horizontalAlignment="left" paddingRight="30"></Label>
        <Label class="sub-head" text ="Order" row="0" col="1" horizontalAlignment="left" paddingRight="30"></Label>
        <TextField #txt1 [text]="rack" id="tf1" hint="0" keyboardType="phone" row="1" col="0" required horizontalAlignment="left" width="50%"></TextField>
        <TextField #txt2 [text]="order" id="tf2" hint="0" keyboardType="phone" row="1" col="1" required horizontalAlignment="left" width="50%"></TextField>
    </GridLayout>
    <GridLayout columns="auto, auto" rows="auto">
        <Button class="default-primary-color" text="cancel" (tap)="close('null')" row="0" col="0"></Button>
        <Button class="default-primary-color" text="ok" (tap)="ok(txt1.text,txt2.text)" row="0" col="1" ></Button>
    </GridLayout>
</StackLayout>