<StackLayout >
    <SearchBar #search hint="Search a Product" (textChange)="onTextChanged($event)" (loaded)="searchBarLoaded($event)" (clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>

    <GridLayout rows="*,auto">    
        <ListView [items]="products" separatorColor="transparent" margin="0">
        <ng-template let-item="item" let-i="index">
            <CardView class="cardStyle" elevation="20" margin="10">
                <GridLayout rows="auto, auto" columns="auto, *, auto" paddingTop="10" paddingBottom="10" paddingLeft="10" paddingRight="10" verticalAlignment="center">
                    <!--<Image src="~/Images/product_img.png" col="0" rowSpan="3" width="80" height="80" verticalAlignment="center" (tap)="productdetail()"></Image>-->
                    <Image [src]="item.image" col="0" rowSpan="3" width="80" height="80" verticalAlignment="center" (tap)="productdetail()"></Image>
                    <StackLayout col="1" rowSpan="3" paddingLeft="10">
                        <Label [text]="item.product_name" fontSize="16"></Label>
                        <Label [text]="'Buy '+ item.offer.base_quantity +' Get ' + item.offer.offer_quantity + ' Free'" fontSize="15" [visibility]="item.offer.offervisible"></Label>
                        <Label [text]="'Rs. '+item.product_price" fontSize="14" color="#757575" [visibility]="ifcustomer"></Label>
                        <Label [text]="item.categoryName" fontSize="14" color="#757575"></Label>
                        <Label [text]="'Case Qty:'+item.case_quantity" fontSize="14" color="#757575" *ngIf="item.case_quantity"></Label>                        
                        <!--<Label [text]="offer" fontSize="15" color="#757575"  [visibility]='"addvisibility["+i+"]"'></Label>-->
                        <GridLayout id = "afteraddqty" class = "afteradd" rows="auto" columns="auto, auto,auto, auto" [visibility]="customerselected">
                                <Label row="0" col="0" text="Rack Qty: " fontSize="13"></Label>
                                <Label row="0" col="1" [text]= "item.rackquantity" fontSize="12" width="25%"></Label>
                                <Label row="0" col="2" text="Order Qty: " fontSize="13"></Label>
                                <Label row="0" col="3" [text]= "item.quantity" fontSize="12" width="25%"></Label>
                        </GridLayout>
                    </StackLayout>
                    <Image src="~/Images/offer.png" width="24" height="24" col="2" row="0" verticalAlignment="top" [visibility]="item.offer.offervisible"></Image>
                    <Image src="~/Images/add.png" width="24" height="24" col="2" row="2" marginRight="10" verticalAlignment="top" (tap)="addtocart(item.product_id,i)" [visibility]="customerselected"></Image>
                    <!--<Image id = "afteraddedit" class = "afteradd" src="~/Images/edit.png" width="24" height="24" col="2" row="3" marginRight="10" verticalAlignment="bottom" (tap)="addtocart(item.id,item.name,i)" [visibility]='"editvisibility["+i+"]"'></Image>-->
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
    <CardView id = "total" class="cardStyle default-primary-color" elevation="20" margin = "10" row="1" [visibility]="totalvisible">
            <GridLayout  rows="auto" columns="auto, *" padding="10">
            <Label text ="Total Amount:" row="0" col="0" paddingRight="50"></Label>
            <Label text=Rs.{{totalAmount}} row="0" col="1" horizontalAllignment="right"></Label>
            </GridLayout>
    </CardView>
    <!-- <StackLayout col="2" paddingLeft="10" paddingTop="250" style="text-align:center;color:gray;" [visibility]="enableMessage">
        <Label text ="No Products Here" row="6" col="0" fontSize="18"></Label>
    </StackLayout> -->
</GridLayout>
</StackLayout>